.image {
  position: absolute;
  width: 1840px;
  height: 1228px;
  z-index: -1;
  top:0;
  bottom:0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.image:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: .8;
  box-shadow: inset 0px 0px 81px -11px rgba(0,0,0,0.75);
  background: linear-gradient(45deg, rgba(73,101,178,0.2) 0%,rgba(255,227,135,0.34) 36%,rgba(255,227,135,0.41) 54%,rgba(219,87,89,0.58) 100%);
}

.root {
  position: absolute;
  width: 300px;
  height: 430px;
  top: calc(50% - 20px);
  margin-left: calc(50% - 130px);
  transform: translateY(-50%);
}

.root .tabs:after {
  content: '';
  position: relative;
  display: block;
  top: -1px;
  width: 100%;
  height: 4px;
  background: #f22377;;
}
.root .tabs > div {
  /* display: inline-block; */
}

.root form {
  position: relative;
  height: calc(100% - 30px);
  padding-top: 15px;
}

.root form > div {
 width: 261px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
}

.root form.logIn > div:after {
 content: '';
}
.root form > div:last-of-type {
 margin-bottom: 10px;
}

.root form > div label {
color: #fff;
}

.root form button {
  position: absolute;
  width: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.loader {
  height: 100px;
}

.loader svg {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  position: absolute;
  left: 20px;
  bottom: 68px;
  color: red;
}
