.root {
    background: gray;
    max-width: 1200px;
    min-height: calc(100vh - 100px);
    display: block;
    margin: 0 auto;
    padding: 40px;
}

.root:after{
    content: '';
    display: table;
    clear: both;
}

.root header {
    float: left;
    background: blue;
}

.brief {
    padding: 20px;
}

.root main {
    float: left;
    width: calc(100% - 400px);
    padding-left: 40px;
    background: yellow;
}

@media all and (max-width: 1199px) {
    .root main {
        width: calc(100% - 320px);
    }
}

@media all and (max-width: 991px) {
    .root header {
        float: none;
    }
    .root header:after{
        content: '';
        display: table;
        clear: both;
    }
    .root header div:first-of-type {
        float: left;
    }
    .brief {
        float: left;
    }
    .root main {
        width: 100%;
        padding-left: 0;
    }
}
