.root {
    display: flex;
    justify-content: space-around;
}

.tab  {
    width: 50%;
    height: 30px;
    text-align: center;
    color: #ccc;
    cursor: auto;
    border-bottom: 4px solid #ccc;
    transition: .4s;
}

.tab:hover {
    color: #fff;
    cursor: pointer;
    transition: .4s;
    border-bottom: 4px solid #fff;
}

.active, .active:hover {
    color: #f22377;
    border-bottom: 4px solid #f22377;
}

.active:hover {
    cursor: default;
}
