button {
    padding: 0 20px;
    height: 30px;
    border-radius: 15px;
    background: #d95700;
    color: #fff;
    cursor: pointer;
    box-shadow: rgb(128, 128, 128) 0 8px 24px -1px;
    opacity: 0.8;
    transition: 0.2s;
}

button:hover {
    opacity: 1;
    transition: 0.2s;
}
