.root {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0)
}

.root input {
    width: 100%;
    height: 100%;
    border: none;
}

/* .root input:-webkit-autofill,
.root input:-internal-autofill-previewed,

.root input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0 100px rgba(255, 0, 255, 0) inset !important;
}

.root input:-webkit-autofill:hover,
.root input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px rgba(255, 0, 255, .5) inset !important;
    -webkit-text-fill-color: #f90 !important;
} */

.root input {
    border: 1px solid black !important;
    background-color: transparent !important;
}

.root input:-webkit-autofill,
.root input:-webkit-autofill:hover,
.root input:-webkit-autofill:focus,
.root input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s !important;
}