.root {
    position: relative;
    width: 100%;
}

.root.isRequired:after {
    content: '*';
    position: absolute;
    top: 13px;
    right: -7px;
    font-size: 18px;
    color: #fff;
}

.root label {
    display: block;
    height: 15px;
    margin-bottom: 5px;
}


.root input:-webkit-autofill,
.root input:-webkit-autofill:hover,
.root input:-webkit-autofill:focus,
.root input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
    transition: border .4s, background 99999s;
}

.root input {
    width: 100%;
    display: block;
    height: 40px;
    padding: 0 17px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .5);
    outline: none;
    transition: border .4s
}

.root input:hover, .root input:focus, .root input:active {
    border: 2px solid #f22377;
    transition: border .4s
}

