.root {
    position: relative;
    height: 40px;
    width: 100%;
    left: 0;
    background: #fff;
    background: #ebebeb;
}
.logo {
    width: 60px;
    max-width: 200px;
    height: 40px;
}

.add {
    float: right;
    margin: 5px 10px 0 0;
}

.button {
    position: relative;
    height: 40px;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 40px;
    float: right;
    background: green;
    padding-right: 36px;
    cursor: pointer;
}
.button:before,
.button:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background: #212120;
    top: 19px;
}
.button:before {
    right: 16px;
    transform: rotate(45deg)
}
.button:after {
    right: 10px;
    transform: rotate(135deg)
}

.button p {
    pointer-events: none;
}

.settings {
    position: absolute;
    width: 100px;
    background: blue;
}