.root {
    float: left;
    height: 40px;
    width: 100%;
    left: 0;
    background: #fff;
    background: #ebebeb;
}

.button {
    width: 100px;
    float: right;
    background: green;
}

.settings {
    width: 100px;
    background: blue;
}