.root {
  background: lightblue;
  height: 100%;
}

.cardsCover {
  background: green;
  max-width: 800px;
  margin: 0 auto;
}
.cardsCover a:last-of-type:after {
  content: '';
  display: table;
  clear: both;
}

.card {
  position: relative;
  float: left;
  width: 160px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  background: #fff;
  box-shadow: rgb(128, 128, 128) 0 8px 24px -1px;
}

.photo {
  width: 100%;
  height: 150px;
  background: grey;
}

.card h3 {
  position: absolute;
  top: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}